* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-width: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(./images/cover-image-dark.png);
  font-family: 'HeliosExtC';
}

.body {
  display: flex;
  flex-direction: column;
}


.header {
  max-width: 1440px;
  height: 88px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-family: 'HeliosExtC';
}

.logo {
  width: 150px;
  height: 25px;
  background-color: rgb(229, 229, 14);
  border-radius: 11px;
}

.info {
  width: 240px;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: aliceblue;
  margin-block-start: 10px;
}

.head {
  margin: auto;
  color: var(--heading-color);
}

.basic {
  max-width: 1440px;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  gap: 15px;
  border: 1px solid white;
  margin: 20px;
  padding: 20px;
  color: rgb(162, 207, 247);
  font-weight: 100;
}

.one_stage_p {
  padding: 7px;
  line-height: 1.5;
}

.one_stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.one_stage_string {
  text-decoration: underline;
  padding-bottom: 10px;
}

.one_stage_content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.one_stage_content,
.one_stage {
  border-block-end: 1px solid white;
  padding-block-end: 15px;
}

.info_drop {
  display: flex;

  margin: 20px;
  color: rgb(220, 189, 248);
}

.content_subparagraph {
  margin-inline-start: 50px;
}

@media (width <= 768px) {
  .basic {
    max-width: 1440px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid white; */
    margin: 20px;
    padding: 20px;
    color: rgb(162, 207, 247);
    font-weight: 100;
  }

  .one_stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  }
