* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-width: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right,
    rgb(246, 235, 185) 0%,
    beige 0%,
    rgb(249, 231, 165) 0%,
    rgb(239, 213, 133) 30%,
    rgb(252, 240, 185) 64%,
    #f5edce 100%
  );
  font-family: "HeliosExtC";
  transition: background-color 0.3s, color 0.3s;
}

.body {
  display: flex;
  flex-direction: column;
}

.header {
  max-width: 1440px;
  height: 88px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-family: "HeliosExtC";
}

.logo {
  width: 150px;
  height: 25px;
  border-radius: 11px;
}

.info {
  width: 240px;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: var(--info-text);
  margin-block-start: 10px;
}

.head {
  margin: 0 0 20px 5vw;
  color: var(--text);
}

.basic {
  max-width: 1440px;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  gap: 15px;
  margin: 20px;
  padding: 20px;
  color: var(--text);
  font-weight: 100;
}

.one_stage_p {
  padding: 7px;
  line-height: 1.5;
}

.address {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 20px;
  color: var(--important);
  text-shadow: 5px 5px 5px rgb(235, 131, 131);
}

.conteiner_button_info {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 0 25px;
  justify-items: center;
  align-items: center;
}

.button_content_info {
  background: var(--heading-color);
  width: 40vw;
  height: 6vh;
  border: 1px solid var(--heading-color);
  box-shadow: 3px 1px 10px 2px black;
  border-radius: 20px;
  font-weight: 600;
  font-size: 100%;
  padding: 5px 5px 10px 5px;
  transition: filter 0.6s;
  cursor: pointer;
}

.button_content_info:active {
  filter: brightness(0.7);
  box-shadow: 1px 0 5px 0 black;
}

.schedule {
  list-style-type: none;
  padding-block-end: 10px;
  margin-inline-end: 20px;
  transition: filter 0.9s;
}

#availability {
  padding-inline-start: 20px;
  grid-area: 2 / 2;
}

.one_stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.one_stage_string {
  padding-bottom: 10px;
  color: var(--heading-color);
  font-weight: 900;
  text-shadow: var(--shadow-text);
  position: relative;
}

.one_stage_content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.one_stage_content,
.one_stage {
  border-block-end: 3px solid rgb(252, 63, 29);
  padding-block-end: 15px;
}

.important_line {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: 800;
}

.info_click {
  border: 1px solid var(--info-text);
  border-radius: 10px;
  padding: 3px 5px;
  color: var(--info-text);
  cursor: pointer;
}

.info_drop {
  display: flex;
  margin: 20px;
  color: var(--important);
}

.content_subparagraph {
  margin-inline-start: 30px;
}

.memo {
  max-width: 1440px;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  margin: 0 20px 20px 20px;
  padding: 0 20px 20px 20px;
  color: var(--text);
  font-weight: 100;
}

.hidden {
  display: none;
}

.head_memo {
  display: flex;
  justify-content: center;
  color: var(--heading-color);
  grid-column-start: 1;
  grid-column-end: 3;
  text-transform: uppercase;
  margin: 20px 20px;
  font-weight: 900;
  text-shadow: var(--shadow-text);
  letter-spacing: 15px;
}

.heading_memo_info {
  margin-block-start: 20px;
  text-decoration: underline;
  padding-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px 60px 20px 10px;
}

.btn_memo {
  width: 50vw;
  height: 5vh;
  border-radius: 50px;
  box-shadow: 0 0 20px 2px rgb(0, 0, 0);
  font-family: "HeliosExtC";
  border: none;
  background-color: rgb(255, 204, 0);
  font-weight: 900;
  font-size: 100%;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn_memo:active {
  background: rgb(220, 177, 3);
  box-shadow: none;
  box-shadow: 0 0 10px 2px rgb(71, 53, 1);
}

@media (width <=768px) {
  .basic,
  .memo {
    max-width: 768px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 10px;
    color: var(--text);
    font-weight: 100;
  }

  .one_stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .one_stage_string {
    margin-left: 15px;
    padding: 0 10px 0 10px;
  }

  .btn_memo {
    font-size: 100%;
  }
}

.paragraf_overrun {
  padding: 10px 15px;
}
